{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set classes = [
    node.bundle|clean_class,
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
] %}
<article{{ attributes.addClass(classes) }}>
    <div class="row">
        <div class="col-md-6 col-sm-12 mb-3">
            <div class="card border-info">
                <div class="card-header bg-info">
                    <span class="card-title text-white">Property details</span>
                </div>
                <div class="card-body">
                  <dl class="row mb-0">
                    <dt class="col-6">{{ content.field_pr_request_type|field_label }}</dt>
                    <dd class="col-6 m-0">{{ content.field_pr_request_type|field_value }}</dd>

                    <dt class="col-6">{{ content.field_pr_property_type|field_label }}</dt>
                    <dd class="col-6 m-0">{{ content.field_pr_property_type|field_value }}</dd>

                    <dt class="col-6">{{ content.field_pr_equipment|field_label }}</dt>
                    <dd class="col-6 m-0">{{ content.field_pr_equipment|field_value }}</dd>

                    <dt class="col-6">{{ content.field_pr_minimum_bedrooms|field_label }}</dt>
                    <dd class="col-6 m-0">{{ content.field_pr_minimum_bedrooms|field_value }}</dd>

                    <dt class="col-6">{{ content.field_pr_minimum_bathrooms|field_label }}</dt>
                    <dd class="col-6 m-0">{{ content.field_pr_minimum_bathrooms|field_value }}</dd>
                  </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mb-3">
            <div class="card border-info">
                <div class="card-header bg-info">
                    <span class="card-title text-white">Location, Budget & Urgency</span>
                </div>
                <div class="card-body">
                  <i class="fas fa-map-marker-alt"></i> {{ node.field_pr_area_city_interest.value }} <br>
                  <dl class="row mb-0">
                    <dt class="col-6">Budget</dt>
                    <dd class="col-6 m-0">{{ content.field_pr_maximum|field_value }} {{ node.field_pr_currency.value|upper }}{% if node.field_pr_request_type.value == 'rent' %}<small>/{{ node.field_pr_payable.value }}</small>{% endif %}</dd>

                    <dt class="col-6">{{ content.field_pr_urgency|field_label }}</dt>
                    <dd class="col-6 m-0">{{ content.field_pr_urgency|field_value }}</dd>

                    <dt class="col-6">Published on</dt>
                    <dd class="col-6 m-0">{{ node.created.value|date("d/m/Y") }}</dd>

                    <dt class="col-6">Expires on</dt>
                    <dd class="col-6 m-0">{{ node.field_pr_expiry_date.value|date("d/m/Y") }}</dd>
                  </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-info mb-3">
        <div class="card-header bg-info">
            <span class="card-title text-white">Property details</span>
        </div>
        <div class="card-body">
            {{ drupal_field('field_pr_more_details', 'node', node.id) }}
        </div>
    </div>
    <div class="card border-info mb-3">
        <div class="card-header bg-info">
            <span class="card-title text-white">Details about the location and neighborhood</span>
        </div>
        <div class="card-body">
          <dl class="row mb-0">
            <dt class="col-md-4">Preferred neighborhood</dt>
            <dd class="col-md-8 m-0">{{ node.field_pr_area_city_interest.value }}</dd>

            <dt class="col-md-4">Preferred neighborhood description</dt>
            <dd class="col-md-8 m-0">{{ node.field_pr_neighborhood_descr.value|raw }}</dd>
          </dl>
        </div>
    </div>
    <div class="card border-info mb-3">
        <div class="card-header bg-info">
            <span class="card-title text-white">How to submit your property <small><em>(For Owners/managers of properties)</em></small></span>
        </div>
        <div class="card-body">
            {{ drupal_field('field_how_to_submit_advert', 'node', node.id) }}
        </div>
        <div class="card-footer border-0 d-flex justify-content-end">
            <a href="/node/add/advert?field_advert_posting_plan=standard&advert_target_pr={{ node.id }}"
               class="btn btn-sm btn-warning text-white">Submit your property</a>
        </div>
    </div>
</article>
