{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('bootstrap_barrio/node') }}

{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
] %}
{% set price = attribute(content.field_advert_price.0, '#markup') %}
{% set currency = attribute(content.field_advert_currency.0, '#markup') %}
{% set negotiable = node.field_advert_price_negociable.value == '1' %}
{% set publisher = attribute(content.field_advert_advertiser.0, '#options').entity %}
{% set bedroomsLabel = node.field_advert_property_type.value == 'office' ? 'Units' : 'Bedrooms' %}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
    {{ content.field_advert_picture }}
    {% if node.field_advert_video_presentation.value %}
    <div class="card border-light mt-2">
      <div class="card-header border-light">
        <h4 class="card-title m-0 text-secondary">{{ 'Video presentation' }}</h4>
      </div>
      <div class="card-body p-2">
        {{ content.field_advert_video_presentation }}
      </div>
    </div>
    {% endif %}
    <div class="card border-light mt-2">
      <div class="card-header border-light">
        <h4 class="card-title m-0 text-secondary">{{ 'Property details' }}</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div><strong>{{ 'Advert type' }}:</strong> {{ content.field_advert_type|field_value }}</div>
            {% if node.field_advert_type.value != 'auction' %}
            <div><strong>{{ 'Price' }}:</strong> {% if negotiable %} <span>Price on request</span> {% else %}{{ price|number_format }} {{ currency|capitalize }} {{ content.payable }}{% endif %}</div>
            {% endif %}
            <div><strong>{{ bedroomsLabel }}:</strong> {{ node.field_advert_bedrooms.value }}</div>
            <div><strong>{{ 'Total floors' }}:</strong> {{ node.field_advert_total_floors.value }}</div>
            <div><strong>{{ 'Address' }}:</strong> {{ node.field_advert_locality_province.value }}, {{ node.field_advert_locality_district.value }}, {{ node.field_advert_locality_sector.value }}</div>
          </div>
          <div class="col-md-6">
            <div><strong>{{ 'Property type' }}:</strong> {{ content.field_advert_property_type|field_value }}</div>
            <div><strong>{{ 'Bathrooms' }}:</strong> {{ content.field_advert_bathrooms|field_value }}</div>
            <div><strong>{{ 'Plot size' }}:</strong> {{ content.field_advert_size|field_value }}</div>
            <div><strong>{{ 'Furnished' }}:</strong> {{ content.field_advert_furnished|field_value }}</div>
            <div><strong>{{ 'Expiry date' }}:</strong> {{ content.field_advert_expirydate|field_value }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-light mt-2">
      <div class="card-header border-light">
        <h4 class="card-title m-0 text-secondary">{{ 'Property description' }}</h4>
      </div>
      <div class="card-body">
        {{ content.field_property_description }}
      </div>
    </div>
    <div class="card border-light mt-2">
      <div class="card-header border-light">
        <h4 class="card-title m-0 text-secondary">{{ 'Contact details' }}</h4>
      </div>
      <div class="card-body">
        <blockquote class="blockquote">
          <small>Please use the details below to book a visit of the property.</small>
        </blockquote>
        <strong>{{ content.field_visit_contact_name|field_label }}:</strong> {{ content.field_visit_contact_name|field_value }}
        <div class="row">
          <div class="col-md-6">
            <div><strong>{{ content.field_visit_cellphone|field_label }}:</strong> {{ content.field_visit_cellphone|field_value }}</div>
            <div><strong>{{ content.field_visit_email_address1|field_label }}:</strong> {{ content.field_visit_email_address1|field_value }}</div>
          </div>
          <div class="col-md-6">
            {% if node.field_visit_cellphone_2.value %}
              <div><strong>{{ content.field_visit_cellphone_2|field_label }}:</strong> {{ content.field_visit_cellphone_2|field_value }}</div>
            {% endif %}
            {% if node.field_visit_email_address2.value %}
              <div><strong>{{ content.field_visit_email_address2|field_label }}:</strong> {{ content.field_visit_email_address2|field_value }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% if publisher %}
      <div class="card border-light mt-2">
        <div class="card-header border-light">
          <h4 class="card-title m-0 text-secondary">{{ 'Advertiser agent' }}</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              {% set logo_uri = publisher.field_agent_logo.entity.fileuri %}
              <a href="{{ drupal_url('node/' ~ publisher.nid.value) }}">
                {% if logo_uri %}
                  {{ drupal_image(logo_uri, 'thumbnail', {alt: publisher.title.value, title: publisher.label}) }}
                {% else %}
{#                  {{ drupal_image('public://default_images/unknown.jpg', 'thumbnail', {alt: publisher.title.value}) }}#}
                  <img src="{{ 'public://default_images/unknown.jpg'|image_style('thumbnail') }}" alt="{{ publisher.title.value }}">
                {% endif %}
              </a>
            </div>
            <div class="col-md-5">
                <div><strong>{{ 'Name' }}:</strong> <a href="{{ drupal_url('node/' ~ publisher.nid.value) }}">{{ publisher.title.value }}</a></div>
                <div><strong>{{ 'Phone number' }}:</strong> {{ publisher.field_agent_phone.value }}</div>
                <div><strong>{{ 'Location of interest' }}:</strong> {{ publisher.field_agent_operations_area.value }}</div>
            </div>
            <div class="col-md-5">
              <div><strong>{{ 'District' }}:</strong> {{ publisher.field_agent_district.entity.name.value }}</div>
              <div><strong>{{ 'Sector' }}:</strong> {{ publisher.field_agent_sector.value }}</div>
              <div><strong>{{ 'Street' }}:</strong> {{ publisher.field_agent_street.value }}</div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if node.field_advert_location.value %}
      <div class="d-flex justify-content-between my-2 p-2 bg-light rounded">
        <button type="button" class="btn btn-primary btn-sm text-white" data-bs-toggle="modal" data-bs-target="#advertLocationMap"><i class="fas fa-map-marked-alt"></i> View map</button>
        {{ content.addtoany }}
      </div>
      <div class="modal fade" id="advertLocationMap" tabindex="-1" role="dialog" aria-labelledby="advertLocationMapModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header px-3 py-2">
              <h5 class="modal-title" id="gridSystemModalLabel">Advert location on map</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{ drupal_field('field_advert_location', 'node', node.nid.value, 'twig_display') }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</article>
<div class="card border-light mt-2">
  <div class="card-header border-light">
    <h4 class="card-title m-0 text-secondary">{{ 'Get in touch' }}</h4>
  </div>
  <div class="card-body">
    {{ drupal_entity('webform', 'interest_form') }}
  </div>
</div>
